# always tag exec, leads
* @ubclaunchpad/exec @ubclaunchpad/leads

# design assets
public @ubclaunchpad/design @ubclaunchpad/exec @ubclaunchpad/leads
src/assets @ubclaunchpad/design @ubclaunchpad/exec @ubclaunchpad/leads

# configuration
src/config.ts @ubclaunchpad/design @ubclaunchpad/strategy @ubclaunchpad/exec @ubclaunchpad/leads
