// provided to all components through  `global.scss`

/* Typography */
* {
  font-family: 'Lato', sans-serif;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $white;
  opacity: 0.8;
  margin-bottom: 32px;

  &.main {
    color: $offwhite;
    opacity: 1;
  }

  &.secondary {
    color: $grey;
    opacity: 1;
  }

  a {
    color: $white
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $white;
  text-transform: uppercase;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: $rocket;
  margin-bottom: 32px;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: $rocket;
}

a {
  &:hover {
    color: $rocket;
  }
}

.accent {
  color: $accent;
}
