// provided to all components through  `global.scss`

/* simple helpers */
.pad {
  &-32 {
    padding: 32px;
  }
  &-sides {
    &-8 {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

.margin {
  &-bottom {
    &-16 {
      margin-bottom: 16px;
    }
    &-96 {
      margin-bottom: 96px;
    }
  }
  &-top {
    &-16 {
      margin-top: 16px;
    }
    &-24 {
      margin-top: 24px;
    }
  }
}

.columns {
  // reverses flow direction of a column on tablet
  &.reverse-on-tablet {
    @media(max-width: $tablet) {
      flex-direction: column-reverse;
      display: flex;
    }
  }
}
