/* simple helpers */
.pad {
  &-32 {
    padding: 32px;
  }
  &-sides {
    &-8 {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

.margin {
  &-bottom {
    &-16 {
      margin-bottom: 16px;
    }
    &-96 {
      margin-bottom: 96px;
    }
  }
}
