// DO NOT import this, it is injected by default to all stylesheets

/* Colors */
$main: #0D054F;
$dark: #0A052E;
$grey: #C4C4C4;
$white: #FFFFFF;
$offwhite: #E5E5E5;
$rocket: #809CFF;
$accent: #FEBCFD;

/* Transitions */
$link-transition-time: 0.4s;
$button-transition-time: 0.6s;

.animation {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transform: scale(1.05);
}
