// DO NOT import this, it is injected by default to all stylesheets

/* Colors */
$main: #0D054F;
$dark: #0A052E;
$grey: #C4C4C4;
$white: #FFFFFF;
$offwhite: #E5E5E5;
$rocket: #809CFF;
$accent: #FEBCFD;
