/* Typography */
p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $offwhite;
  margin-bottom: 16px;

  &.secondary {
    color: $grey
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: $white;
  text-transform: uppercase;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
